.App {
  box-sizing: border-box;
  text-align: center;
  
  background-image: linear-gradient(120deg, #9C27B0 0%, #4A148C 100%);
  width: 100%;
  margin: 10px auto;
  padding: 40px;
  border-radius: 5px;
  height: fit-content;
  color: white;
}


.signin {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
}

